header {
    background-color: rgb(255, 0, 0);
    padding-top: 50px;
    padding-bottom: 35px;
    position: relative;
    top: 60px;

}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

nav#menu ul {
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 850px;
}

nav#menu {
    display: block;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;



}

h1#sima1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    position: absolute;
    top: -80px;
    left: 340px;
    color: rgb(255, 255, 255);
}



h2 {
    position: absolute;
    top: 200px;
    left: 565px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    background-color: rgb(255, 135, 50);
    padding: 5px;
    border-radius: 20px;
}

h2#Porções {
    position: absolute;
    top: 675px;
    left: 565px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    background-color: rgb(255, 135, 50);
    padding: 5px;
    border-radius: 20px;
}

.menu-item {
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.menu-item a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.menu-item img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}

.item-details {
    flex: 1;
    padding: 20px;
    text-align: left;
}


.item-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


div.menu-item#div1 {
    position: absolute;
    top: 350px;
    width: 30%;
    height: 50%;
    left: 40px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div2 {
    position: absolute;
    top: 350px;
    width: 30%;
    height: 50%;
    left: 460px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div3 {
    position: absolute;
    top: 350px;
    width: 30%;
    height: 50%;
    left: 880px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div4 {
    position: absolute;
    top: 835px;
    width: 30%;
    height: 50%;
    left: 40px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div5 {
    position: absolute;
    top: 835px;
    width: 30%;
    height: 50%;
    left: 460px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div6 {
    position: absolute;
    top: 835px;
    width: 30%;
    height: 50%;
    left: 880px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div6 {
    position: absolute;
    top: 835px;
    width: 30%;
    height: 50%;
    left: 880px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div7 {
    position: absolute;
    top: 1190px;
    width: 30%;
    height: 50%;
    left: 40px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div8 {
    position: absolute;
    top: 1190px;
    width: 30%;
    height: 50%;
    left: 460px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div9 {
    position: absolute;
    top: 1190px;
    width: 30%;
    height: 50%;
    left: 880px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}

div.menu-item#div10 {
    position: absolute;
    top: 1545px;
    width: 35%;
    height: 85%;
    left: 425px;
    background-color: rgb(255, 135, 50);
    font-family: Arial, Helvetica, sans-serif;
}




img#img1 {
    position: absolute;
    top: 510px;
    left: 125px;
}

img#img2 {
    position: absolute;
    top: 480px;
    left: 555px;
}

img#img3 {
    position: absolute;
    top: 490px;
    left: 985px;
}

img#img4 {
    position: absolute;
    top: 965px;
    left: 121px;
}

img#img5 {
    position: absolute;
    top: 980px;
    left: 570px;
}

img#img6 {
    position: absolute;
    top: 995px;
    left: 982px;
}
img#img7 {
    position: absolute;
    top: 955px;
    left: 121px;
}
img#img8 {
    position: absolute;
    top: 1335px;
    left: 140px;
}
img#img9 {
    position: absolute;
    top: 1340px;
    left: 550px;
}
img#img10 {
    position: absolute;
    top: 1340px;
    left: 970px;
}
img#img11 {
    position: absolute;
    top: 1680px;
    left: 485px;
}

p#preço1 {
    position: absolute;
    left: 300px;
    top: 250px;
    font-size: large;
    color: #efff94;
}
p#preço2 {
    position: absolute;
    left:350px;
    top: 400px;
    font-size: large;
    color: #efff94;
}
p#desafio {
    position: absolute;
    left: 50px;
    top: 460px;
    font-size: large;
    color: #e5ff00;
}
p{color: rgb(255, 255, 255);}
h3{color:  rgb(255, 255, 255);}
